
/* .job-page-container {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(48,139,213,1) 64%, rgba(45,83,253,1) 100%);
    width: 100vw;
    height: 100vh;
} */

.job-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: white;
    border:1px solid rgb(34,193,195);
    margin: 5%;
    padding: 5%;
    font-size: 12px;
}

.job-inner-container-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
}

.job-inner-container-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
}

.job-company {
    font-size: 20px;
    font-weight:500;
}

.job-position {
    font-size: 16px;
    font-weight: 400;
}

.job-edit, 
.job-delete {
    background-color: rgb(34,193,195);;
    border: none;
    width: 100px;
    height: 20px;
    border-radius: 10px;
}